mixin advantage()
  //- Advantage
  section.advantage(id='js-advantage')
    .wrapper.advantage__wrapper 
      .advantage__block.advantage__block--text(id='js-advantage-block') 
        h3.advantage__title Advantage
        p.advantage__text.advantage__text--bold PREMIUM FEATURES
        p.advantage__text Subscribe to Premium for even more great features to boost your personal productivity:
        p.advantage__text
          | - Unlimited number of habits
          br
          | - Improved reminders for your task and habit lists
          br
          | - Motivating stats for each habit
        p.advantage__text There are many things you may want to improve. Productive will help you track your habits, like taking your pills regularly, exercising, or keeping to a diet. It can also be used by people who have difficulty focusing and concentrating, allowing them to create their own daily tasks and habits to work on.
      .advantage__block.advantage__block--phone  
        //- Phone img
        .advantage__phone 
          img(src="/assets/images/advantage.png" alt="phone")