mixin reviews()
  //- Swiper
  section.reviews
    .wrapper.reviews__wrapper 
      h3.reviews__title What Our Happy User Says
      .swiper
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide 
            //- Comment
            .reviews__comment 
              .reviews__orange 
              .reviews__stars 
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
              p.reviews__text The best app I've ever come across. Now my working day is planned and I can breathe freely.
              .reviews__user 
                .reviews__photo 
                  img(src="/assets/images/user_1.png" alt="user")
                .reviews__info 
                  p.reviews__first-last-name Serhiy Hipskyy
                  p.reviews__subtext Teacher            
          .swiper-slide 
            //- Comment
            .reviews__comment 
              .reviews__orange 
              .reviews__stars 
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
              p.reviews__text I have a very busy schedule and I always had trouble planning my tasks and often forgot a lot. With this app I became superman.
              .reviews__user 
                .reviews__photo 
                  img(src="/assets/images/user_2.png" alt="user")
                .reviews__info 
                  p.reviews__first-last-name Justus Menke
                  p.reviews__subtext Hairdresser   
          .swiper-slide 
            //- Comment
            .reviews__comment 
              .reviews__orange 
              .reviews__stars 
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
              p.reviews__text I am a creative person and often delve into my creative work. BeeProductive helped me develop my own strategy for a productive day.
              .reviews__user 
                .reviews__photo 
                  img(src="/assets/images/user_3.png" alt="user")
                .reviews__info 
                  p.reviews__first-last-name Britain Eriksen
                  p.reviews__subtext Architect     
          .swiper-slide 
            //- Comment
            .reviews__comment 
              .reviews__orange 
              .reviews__stars 
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
                svg.icon
                  use(xlink:href='#icon-star')
              p.reviews__text I haven't had time for myself for a long time. Everyday routine habits simply exhausted me. This app helped me to do my daily tasks.
              .reviews__user 
                .reviews__photo 
                  img(src="/assets/images/user_4.png" alt="user")
                .reviews__info 
                  p.reviews__first-last-name Sofi Marso
                  p.reviews__subtext Housewife


