mixin contacts()
  //- Contacts
  section.contacts(id='js-contacts')
    .wrapper.contacts__wrapper 
      h3.contacts__title How to find us
      //-  Map
      .contacts__map
        .contacts__adress(id='map')
      p.contacts__subtext  766 Mission St, San Francisco, CA 94103, USA