mixin social()
  //-  Footer socail
  .social 
    ul.social__list 
      li.social__item 
        a.social__link(href="#") 
          svg.icon
            use(xlink:href='#icon-instagram')
      li.social__item 
        a.social__link(href="#")
          svg.icon
            use(xlink:href='#icon-twitter') 
      li.social__item 
        a.social__link(href="#").social__link--facebook
          svg.icon
            use(xlink:href='#icon-facebook')  